.about-company {
  background-color: $gray-basic;
  min-height: 450px;
}

.about-company__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  max-width: 500px;

  @media (min-width: $tablet-width) {
    max-width: 899px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
  }
}

.about-company__inner {
  min-width: 280px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 25px;
  display: flex;
  text-align: left;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-right: 70px;
    margin-left: 70px;
    margin-top: -90px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    position: absolute;
    background-color: $basic_white;
    width: 570px;
    min-height: 140px;
    justify-content: space-between;
    top: 95px;
    left: 110px;
    padding-top: 10px;
  }
}

.about-company__invitation {
  @include font-set (normal, normal, 16px, 20px);
  width: 140px;
  margin-right: -5px;
  margin-top: 5px;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 20px, 24px);
    text-align: left;
    width: 171px;
  }

  @media (min-width: $desktop-width) {
    @include font-set (normal, normal, 20px, 24px);
    text-align: left;
    width: 171px;
    margin-top: 55px;
    margin-left: 75px;
  }
}

.about-company__adress {
  @include font-set (normal, normal, 14px, 20px);
  font-family: "Arial", sans-serif;
  text-transform: none;
  color: $special_dark-grey;
  width: 140px;
  margin-top: 5px;
  padding-bottom: 10px;

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 16px, 20px);
    text-align: right;
    width: 180px;

    & br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-top: 53px;
    margin-right: 66px;
  }
}

.about-company__map {
  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
