.about-company {
  min-height: 450px;
  background-color: $basic_white;

  @media (min-width: $desktop-width) {
    background-color: $gray-basic;
  }
}

.about-company--bg-color-form {
  @media (min-width: $tablet-width) {
    background-color: $gray-basic;
  }
}

.about-company--bg-color-catalog {
  background-color: $gray-basic;
}

.about-company__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  max-width: 540px;

  @media (min-width: $tablet-width) {
    max-width: 910px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
  }
}

.about-company__inner {
  min-width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  display: flex;
  text-align: left;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-right: 70px;
    margin-left: 70px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    position: absolute;
    background-color: $basic_white;
    width: 570px;
    min-height: 201px;
    justify-content: space-between;
    top: 95px;
    left: 110px;
    padding-bottom: 0;
  }
}

.about-company__invitation {
  @include font-set (normal, normal, 16px, 20px);
  width: 140px;
  margin-right: -5px;
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 20px, 24px);
    text-align: left;
    width: 171px;
  }

  @media (min-width: $desktop-width) {
    @include font-set (normal, normal, 20px, 24px);
    text-align: left;
    width: 171px;
    margin-top: 62px;
    margin-left: 75px;
  }
}

.about-company__adress {
  @include font-set (normal, normal, 14px, 20px);
  font-family: "Arial", sans-serif;
  text-transform: none;
  color: $special_dark-grey;
  width: 140px;
  margin-top: 13px;
  margin-right: 5px;

  & .about-company__adress--new-string {
    display: none;
  }

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 16px, 20px);
    text-align: right;
    width: 180px;
    margin-top: 10px;

    & .about-company__adress--new-string {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-top: 60px;
    margin-right: 66px;
  }
}

.about-company__map {
  margin: 0 auto;
}
