.about-company {
  background-color: $gray-basic;
}

.about-company__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.about-company__inner {
  min-width: 280px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-right: 30px;
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    position: absolute;
    background-color: $basic_white;
    width: 570px;
    min-height: 201px;
    justify-content: center;
    padding-top: 50px;
  }
}

.about-company__invitation {
  @include font-set (normal, normal, 16px, 18px);
  width: 140px;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 20px, 21px);
    text-align: left;
  }
}

.about-company__adress {
  @include font-set (normal, normal, 14px, 20px);
  font-family: "Arial", sans-serif;
  text-transform: none;
  color: $special_dark-grey;
  width: 140px;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 16px, 20px);
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    padding-left: 100px;
  }
}
