.about-company {
  text-align: center;
}

.about-company__invitation {
  font-size: 16px;
  line-height: 18px;
}

.about-company__adress {
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  color: $special_dark-grey;
}
