.advantages-product {
  text-align: center;
  position: relative;
}

.advantages-product__title {
  @include font-set (normal, normal, 36px, 40px);
  text-transform: none;
}

.advantages-product__list {
  @include font-set (normal, normal, 36px, 40px);
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.advantages-product__item {
  @include font-set (normal, normal, 14px, 18px);
  text-transform: none;
  font-family: "Arial", sans-serif;
  width: 176px;

  &:nth-child(1)::before {
    content: "";
    background-color: $basic_green;
    background-image: url("../img/iconleaf.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 300px;
  }

  &:nth-child(2)::before {
    content: "";
    background-color: $basic_green;
    background-image: url("../img/icontub.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 300px;
  }

  &:nth-child(3)::before {
    content: "";
    background-color: $basic_green;
    background-image: url("../img/iconeat.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 300px;
  }

  &:nth-child(4)::before {
    content: "";
    background-color: $basic_green;
    background-image: url("../img/iconalarm.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 300px;
  }
}
