.advantages-product {
  text-align: center;
}

.advantages-product__wrapper {
  margin: 0 auto;
  margin-bottom: 41px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 500px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 899px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    max-width: 1220px;
  }
}

.advantages-product__title {
  @include font-set (normal, normal, 36px, 40px);
  text-transform: none;
  text-align: left;
  min-height: 20px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 60px, 60px);
    margin-bottom: 0;
    text-align: left;
    margin-top: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 38px;
    margin-bottom: 0;
  }
}

.advantages-product__list {
  @include font-set (normal, normal, 36px, 40px);
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 122px;
    grid-column-gap: 55px;
    margin-top: 77px;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 68px;
  }
}

.advantages-product__item {
  @include font-set (normal, normal, 14px, 18px);
  text-transform: none;
  font-family: "Arial", sans-serif;
  min-width: 180px;
  margin-left: 70px;
  padding-top: 20px;
  text-align: left;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1px 1fr;
  grid-template-rows: 60px;
  position: relative;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 16px, 24px);
    padding-top: 90px;
    margin-right: 30px;
    margin-left: 0;
    width: 250px;
    grid-template-rows: 1fr;

    &:nth-child(2) {
      margin-right: 0;
    }

    &:nth-child(4) {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    width: 250px;
    text-align: left;

    &:nth-child(2) {
      margin-left: -7px;
    }

    &:nth-child(3) {
      margin-left: 19px;
    }
  }

  &:nth-child(1)::before {
    content: "";
    display: inline;
    background-color: $basic_green;
    background-image: url("../img/iconleaf.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    position: relative;
    right: 70px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      left: 0;
      bottom: 108px;
    }

    @media (min-width: $desktop-width) {
      width: 80px;
      height: 80px;
      left: 0;
      bottom: 108px;
    }
  }

  &:nth-child(2)::before {
    content: "";
    display: inline;
    background-color: $basic_green;
    background-image: url("../img/icontub.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    position: relative;
    right: 70px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      left: 2px;
      bottom: 108px;
    }

    @media (min-width: $desktop-width) {
      width: 80px;
      height: 80px;
      left: 0;
      bottom: 108px;
    }
  }

  &:nth-child(3)::before {
    content: "";
    display: inline;
    background-color: $basic_green;
    background-image: url("../img/iconeat.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    position: relative;
    right: 70px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      left: 0;
      bottom: 107px;
    }

    @media (min-width: $desktop-width) {
      width: 80px;
      height: 80px;
      left: 5px;
      bottom: 108px;
    }
  }

  &:nth-child(4)::before {
    content: "";
    display: inline;
    background-color: $basic_green;
    background-image: url("../img/iconalarm.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    position: relative;
    right: 70px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      left: 2px;
      bottom: 107px;
    }

    @media (min-width: $desktop-width) {
      width: 80px;
      height: 80px;
      left: 0px;
      bottom: 108px;
    }
  }

  &:nth-child(1)::after {
    @include font-set (normal, normal, 280px, 280px);
    content: "1";
    font-family: "Oswald", sans-serif;
    color: $gray-basic;
    z-index: -1;
    display: none;
    position: absolute;

    @media (min-width: $tablet-width) {
      left: 120px;
      bottom: -40px;
      display: inline;
    }

    @media (min-width: $desktop-width) {
      left: 120px;
      bottom: -40px;
      display: inline;
    }
  }

  &:nth-child(2)::after {
    @include font-set (normal, normal, 280px, 280px);
    content: "2";
    font-family: "Oswald", sans-serif;
    color: $gray-basic;
    z-index: -1;
    display: none;
    position: absolute;

    @media (min-width: $tablet-width) {
      left: 115px;
      bottom: -40px;
      display: inline;
    }

    @media (min-width: $desktop-width) {
      left: 110px;
      bottom: -40px;
      display: inline;
    }
  }

  &:nth-child(3)::after {
    @include font-set (normal, normal, 280px, 280px);
    content: "3";
    font-family: "Oswald", sans-serif;
    color: $gray-basic;
    z-index: -1;
    display: none;
    position: absolute;

    @media (min-width: $tablet-width) {
      left: 113px;
      bottom: -40px;
      display: inline;
    }

    @media (min-width: $desktop-width) {
      left: 120px;
      bottom: -40px;
      display: inline;
    }
  }

  &:nth-child(4)::after {
    @include font-set (normal, normal, 280px, 280px);
    content: "4";
    font-family: "Oswald", sans-serif;
    color: $gray-basic;
    z-index: -1;
    display: none;
    position: absolute;

    @media (min-width: $tablet-width) {
      left: 117px;
      bottom: -40px;
      display: inline;
    }
  }
}

.advantages-product__description {
  max-width: 430px;
  margin-left: 10px;
  text-align: left;

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-left: 0;
    max-width: 400px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 0;
    max-width: 400px;

    & br {
      display: block;
    }
  }
}
