.button {
  color: $basic_white;
  background-color: $basic_green;
  border: 1px 1px var(--basic-white);
  height: 40px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;

  &:hover {
    background-color: $basic_green-2;
  }

  &:focus {
    background-color: $basic_green-2;
    color: $green-button-pressed;
  }
}
