.button-example {
  @include font-set (normal,normal, 16px, 20px);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background-color: $bg-example;

  &:hover {
    border-bottom: 1px solid $main-menu-down;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 20px, 30px);
    border-bottom: 1px dotted $basic-black;
    background-color: $basic_white;
  }
}
