.caption {
  @include font-set (normal, normal, 14px, 14px);
  text-align: center;
  background: linear-gradient(to top, $basic_white 30%, $bg_green 30%),
    url("../img/indexbackgrounddesktop.jpg") no-repeat;
  color: $basic_white;
}

.caption__text {
  @include font-set(normal, normal, 36px, 36px);
  text-transform: none;
  font-weight: normal;
}

.caption__toggle-choice {
  color: $basic_white;
  background-color: $basic_green;
  border: 1px 1px var(--basic-white);
  width: 280px;
  height: 40px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    background-color: $basic_green-2;
  }

  &:focus {
    background-color: $basic_green-2;
    color: $green-button-pressed;
  }
}
