.caption {
  @include font-set (normal, normal, 14px, 14px);
  color: $basic_white;
}

.caption__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 2px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 899px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    margin: 0 auto;
    max-width: 1220px;
  }
}

.caption__inner {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 430px;
  min-width: 93%;
  padding-left: 20px;
  background: linear-gradient(to top, $basic_white 30%, $bg_green 30%),
    url("../img/indexbackgroundemobile.jpg") no-repeat 50% 0%,
    linear-gradient(90deg, $bg-caption 0%, $bg-caption-2 5%, $bg-caption-2 95%, $bg-caption 100%);

  @media (min-width: $tablet-width) {
    background: none;
    color: $basic-black;
    text-align: left;
    align-items: flex-start;
    padding-left: 0;
    min-width: 70%;
    margin-left: 87px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.caption__text {
  @include font-set(normal, normal, 36px, 36px);
  text-transform: none;
  margin-top: 28px;
  margin-bottom: 10px;
  margin-left: -20px;
  width: 249px;

  @media (min-width: $tablet-width) {
    @include font-set(normal, normal, 60px, 60px);
    min-width: 500px;
    margin-top: 60px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 110px;
  }
}

.caption__slogan {
  margin-left: -20px;

  @media (min-width: $tablet-width) {
    @include font-set(normal, normal, 20px, 20px);
    min-width: 500px;
    margin-top: 35px;
    margin-left: 0;
  }

  @media (min-width: $tablet-width) {
    margin-top: 30px;
  }
}

.caption__image {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    position: relative;
    width: 709px;
    height: 620px;
    top: -174px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 500px;
    top: -400px;
    left: 390px;
  }
}

.caption__toggle-choice {
  font-family: "Oswald", sans-serif;
  color: $basic_white;
  background-color: $basic_green;
  border: 1px 1px var(--basic-white);
  width: 280px;
  min-height: 40px;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
  text-transform: uppercase;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    @include font-set(normal, normal, 20px, 0);
    position: absolute;
    top: 280px;
    left: 30.5%;
    transform: translateX(-50%);
    width: 244px;
    min-height: 54px;
  }

  @media (min-width: $desktop-width) {
    left: 313px;
    top: 330px;
  }
}
