.comment {
  text-align: left;
}

.comment__inner {
  position: relative;
  margin: 0;
  min-width: 280px;
  padding-top: 50px;
  margin-top: 39px;
  border-top: 2px solid $basic_green;

  @media (min-width: $tablet-width) {
    margin-top: 60px;
    padding-top: 90px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 50px;
    padding-top: 0;
  }
}

.comment__title {
  @include font-set (normal, normal, 24px, 26px);
  text-transform: none;
  position: absolute;
  background-color: $basic_white;
  top: -38px;
  width: 18vh;
  padding-right: 5px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 36px, 36px);
    padding-left: 40px;
    margin-left: 30px;
    top: -55px;
    min-width: 182px;
  }
}

.comment__wrapper {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 71px;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-right: 110px;
  }
}

.comment__input {
  @include font-set (normal, normal, 16px, 18px);
  color: $special_dark-grey;
  border: 1px solid $input-border;
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
  min-width: 100%;
  min-height: 150px;
  text-transform: uppercase;
  resize: none;
  padding-top: 5px;
  padding-left: 15px;


  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 20px, 30px);
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    min-height: 174px;
  }
}
