.copyright {
  text-decoration: none;
  color: $special_dark-grey;
  outline: 1px solid red;

  @media (min-width: $tablet-width) {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 0;
  }

  & svg {
    fill: $special_dark-grey;
  }

  &:hover svg {
    fill: $basic_green;
  }

  &:focus svg {
    fill: $bg-green;
    opacity: 0.3;
  }
}

.copyright__name {
  @include font-set (normal, normal, 16px, 18px);
  font-family: "Arial", sans-serif;

  & div {
    text-transform: none;
  }

  &:hover {
    color: $basic_green;
  }

  &:focus {
    color: $special_dark-grey-opacity;
  }
}
