.copyright {
  text-decoration: none;
  color: $special_dark-grey;
}

.copyright__name {
  @include font-set (normal, normal, 16px, 18px);
  font-family: "Arial", sans-serif;
  display: flex;
  align-items: center;
}

.copyright__name--big-text {
  @include font-set (normal, normal, 16px, 18px);
  text-transform: none;
  font-family: "Arial", sans-serif;
  margin-left: 3px;

  @media (min-width: $tablet-width) {
    margin-right: 22px;
    margin-left: 5px;
  }
}
