.copyright {
  text-decoration: none;
  color: $special_dark-grey;
}

.copyright__name {
  @include font-set (normal, normal, 16px, 18px);
  font-family: "Arial", sans-serif;
}

.copyright__name--big-text {
  @include font-set (normal, normal, 16px, 18px);
  text-transform: none;
  font-family: "Arial", sans-serif;
  margin-right: 140px;
  margin-left: 5px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
    margin-left: 5px;
  }
}
