.data-cat {
  @include font-set (normal, normal, 16px, 18px);
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 20px, 30px);
  }
}

.data-cat__wrapper {
  margin: 0 auto;
  max-width: 500px;

  @media (min-width: $tablet-width) {
    max-width: 899px;
    padding-bottom: 78px;
    margin: 0 auto;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    padding-bottom: 8px;

    border: none;
  }
}

.data-cat__group {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  border: none;
  margin-left: 8px;
  margin-right: 10px;
  padding-bottom: 10px;
  margin-top: 5px;

  @media (min-width: $tablet-width) {
    margin-left: 56px;
    margin-right: 18px;
    margin-top: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -175px;
    margin-right: 80px;
    margin-top: 0;
  }
}

.data-cat__input {
  @include font-set (normal, normal, 16px, 18px);
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 14px;
  margin-bottom: 14px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  margin-left: 57px;
  height: 45px;

  &:nth-child(2) {
    margin-top: -1px;
    margin-left: 0;
  }

  &:nth-child(4) {
    margin-left: 28px;
  }


  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 20px, 30px);
    margin-bottom: 20px;
    padding-left: 18px;
    height: 52px;
    margin-right: 35px;
    margin-left: 83px;

    &:nth-child(2) {
      margin-left: 11px;
    }

    &:nth-child(4) {
      margin-left: 44px;
    }
  }

  @media (min-width: $desktop-width) {
    @include font-set (normal, normal, 20px, 30px);
    padding-left: 20px;
    margin-right: 0;
    min-width: 438px;
  }
}

.data-cat__name {
  text-align: left;
  min-width: 94px;
  margin-top: -15px;

  @media (min-width: $tablet-width) {
    min-width: 120px;
    margin-top: -20px;
  }

  @media (min-width: $desktop-width) {
    &:nth-child(1) {
      margin-top: -16px;
    }
  }
}
