.data-owner {
  @include font-set (normal, normal, 16px, 18px);
  text-align: left;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 20px, 30px);
  }
}

.data-owner__wrapper {
  margin: 0 auto;
  max-width: 500px;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    max-width: 899px;
    padding-top: 45px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding-bottom: 60px;
    padding-top: 0;
  }
}

.data-owner__title {
  @include font-set (normal, normal, 24px, 26px);
  text-transform: none;
  width: 190px;
  background-color: $basic_white;
  position: relative;
  padding-left: 20px;
  padding-right: 11px;

  &::after {
    content: "";
    position: absolute;
    transform: translateX(-50%);
    top: 33%;
    width: 5000px;
    border-top: 2px solid $basic_green;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 36px, 36px);
    width: 512px;
    margin-left: 30px;
    padding-left: 40px;
    padding-right: 40px;

    &::after {
      top: 65%;
    }
  }

  @media (min-width: $desktop-width) {
    width: 512px;
    padding-right: 40px;
    margin-left: 70px;
    padding-left: 40px;

    &::after {
      top: 63%;
    }
  }
}

.data-owner__group {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  color: $special_dark-grey;
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  align-items: center;
  grid-row-gap: 9px;
  grid-template-rows: 1fr 1fr;
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    margin-left: 69px;
    margin-right: 63px;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
    margin-top: 77px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    margin-top: 75px;
    width: 1040px;
  }
}

.data-owner__box {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 500px;

  @media (min-width: $tablet-width) {
    max-width: 899px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1340px;
  }
}

.data-owner__input {
  @include font-set (normal, normal, 16px, 18px);
  font-family: "Oswald", sans-serif;
  border: 1px solid $input-border;
  box-sizing: border-box;
  height: 45px;
  text-transform: uppercase;
  padding-left: 14px;
  margin-top: 6px;
  margin-left: 10px;
  width: 100%;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 20px, 30px);
    min-height: 52px;
    margin-top: -1px;
    margin-left: 12px;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 75px;
    width: 490px;
    margin-top: 0;
    padding-left: 18px;
    margin-left: 0;
  }
}

.data-owner__name--size {
  min-width: 50px;

  @media (min-width: $tablet-width) {
    min-width: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 10px;
  }
}

.data-owner--size-input {
  @media (min-width: $desktop-width) {
    margin-left: 18px;
    width: 472px;
  }
}

.data-owner__input-ico-msg {
  position: absolute;
  right: 20px;
  top: 20px;
  stroke: $special_dark-grey-1;
  fill: $basic_white;

  @media (min-width: $tablet-width) {
    top: 16px;
  }

  @media (min-width: $desktop-width) {
    left: 532px;
    top: 20px;
  }
}

.data-owner__input-ico-tel {
  position: absolute;
  right: 17px;
  top: 18px;

  @media (min-width: $tablet-width) {
    top: 16px;
    right: 20px;
  }

  @media (min-width: $desktop-width) {
    right: 92px;
    top: 16px;
  }
}
