.data-owner {
  @include font-set (normal, normal, 16px, 18px);

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 20px, 30px);
  }
}

.data-owner__wrapper {
  position: relative;
  text-align: left;
}

.data-owner__title {
  @include font-set (normal, normal, 24px, 26px);
  text-transform: none;
  background-color: $basic_white;
  position: absolute;
  top: -35px;
  width: 25vh;
  padding-right: 5px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 36px, 36px);
    padding-left: 40px;
    margin-left: 30px;
    min-width: 512px;
    top: -50px;
  }
}

.data-owner__inner {
  margin: 0;
  min-width: 320px;
  padding-top: 50px;
  margin-top: 50px;
  border-top: 2px solid $basic_green;
}

.data-owner__group {
  margin: 0;
  padding: 0;
  border: none;
  color: $special_dark-grey;
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-left: 71px;
    margin-right: 30px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 110px;
    margin-right: 110px;
    display: flex;
  }
}

.data-owner__input {
  border: 1px solid $input-border;
  box-sizing: border-box;
  height: 45px;
  text-transform: uppercase;
  margin-top: 14px;
}
