.example {
  background-color: $bg-example;

  @media (min-width: $tablet-width) {
    border-top: 1px solid $special_grey-4;
    background: linear-gradient(0deg, rgba(234, 234, 234, 1) 40%, rgba(255, 255, 255, 1) 40%);
  }

  @media (min-width: $desktop-width) {
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 25%, rgba(242, 242, 242, 1) 25%);
  }
}

.example__wrapper {
  position: relative;
  max-width: 500px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 899px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    max-width: 1220px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 0;
    padding-bottom: 50px;
  }
}

.example__title {
  @include font-set (normal, normal, 36px, 40px);
  text-transform: none;
  text-align: left;
  margin-left: 20px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 60px, 60px);
    padding-bottom: 30px;
    margin-top: 18px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    @include font-set (normal, normal, 60px, 60px);
    padding-bottom: 20px;
    margin-top: -5px;
    margin-left: 0;
  }
}

.example__text {
  @include font-set (normal, normal, 14px, 18px);
  font-family: "Arial", sans-serif;
  text-transform: none;
  text-align: left;
  min-width: 280px;
  margin-right: 20px;
  padding-bottom: 5px;
  margin-top: 35px;
  color: $special_dark-grey;
  margin-left: 20px;
  grid-row: 2/3;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 16px, 24px);
    margin-top: -15px;
    margin-left: 0;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    @include font-set (normal, normal, 16px, 24px);
    padding-bottom: 0;
    margin-top: -300px;
    width: 436px;
  }
}

.example__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  margin: 0 auto;
  grid-row: 3/4;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 380px;
    padding-bottom: 0;
    margin: 0;
  }
}

.example__weight {
  @include font-set (normal, normal, 24px, 24px);
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 30px;
  margin-top: 5px;
  border: 1px solid $special_grey;
  border-radius: 3px;
  margin-right: 30px;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 30px, 37px);
    width: 116px;
    height: 40px;
    margin-right: -10px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: -200px;
  }

  & legend {
    @include font-set (normal, normal, 12px, 12px);
    position: absolute;
    color: $special_dark-grey;
    bottom: -30%;
    left: 18%;
    width: 70px;
    background-color: $bg-example;
    font-family: "Arial", sans-serif;
    text-transform: none;

    @media (min-width: $tablet-width) {
      @include font-set (normal, normal, 14px, 14px);
      left: 14px;
      top: 60px;
      width: 127px;
      background-color: $basic_white;
    }
  }
}

.example__time {
  @include font-set (normal, normal, 24px, 24px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 84px;
  height: 30px;
  margin-top: 5px;
  border: 1px solid $special_grey;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 30px, 37px);
    width: 116px;
    height: 40px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    @include font-set (normal, normal, 30px, 37px);
    margin-top: -200px;
    margin-right: 15px;
  }

  & legend {
    @include font-set (normal, normal, 12px, 12px);
    position: absolute;
    color: $special_dark-grey;
    bottom: -30%;
    left: 20%;
    width: 70px;
    background-color: $bg-example;
    font-family: "Arial", sans-serif;
    text-transform: none;

    @media (min-width: $tablet-width) {
      @include font-set (normal, normal, 14px, 14px);
      left: 15px;
      top: 60px;
      width: 127px;
      background-color: $basic_white;
    }

    @media (min-width: $desktop-width) {
      background-color: $bg-example;
    }
  }
}

.example__cost-nutrition {
  @include font-set (normal, normal, 14px, 20px);
  min-width: 188px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 20px, 30px);
    text-align: right;
    padding: 0;
    padding-left: 105px;
    margin-top: 10px;
    width: 188px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    padding: 0;
    min-width: 370px;
    margin-top: -10px;

    & span {
      padding-left: 60px;
    }
  }
}

.example__cat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 19px;
  margin-right: 12px;


  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
    width: 708px;
    height: 601px;
    margin-top: -25px;
  }

  @media (min-width: $desktop-width) {
    width: 708px;
    height: 601px;
    margin-top: -70px;
    margin-left: 94px;
  }
}

.example__wrap-slider-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 33px;
  min-width: 228px;

  @media (min-width: $tablet-width) {
    justify-content: space-around;
    position: absolute;
    z-index: 1;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 59px;
    position: absolute;
    z-index: 1;
    bottom: 35px;
    left: 995px;
  }
}

.example__slider-wrap {
  position: relative;
  width: 75px;
  height: 11px;
  border-radius: 6px;
  margin-right: 15px;
  border: 1px solid $special_grey;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    left: 5px;
    top: 5px;
  }
}

.example__slider-toggle {
  position: absolute;
  top: 2px;
  left: 5px;
  min-width: 35px;
  height: 6px;
  background: $basic_green;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    min-width: 34px;
    height: 34px;
    border-radius: 50%;
    top: -14px;
    left: 195px;
    border: 1px solid $special_grey;
    background-color: $basic_white;

    &::before {
      content: "";
      position: absolute;
      width: 9px;
      height: 8px;
      border-radius: 50%;
      left: 30%;
      bottom: 35%;
      border: 1px solid $special_grey;
      background-color: $basic_green;
    }
  }
}

.example__toggle-prev {
  margin-right: 15px;

  @media (min-width: $tablet-width) {
    margin-right: 15px;
  }
}
