.food-cat {
  @include font-set (normal, normal, 12px, 16px);
  text-transform: none;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 16px, 16px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 60px;
    align-items: center;
    justify-content: center;
    max-width: 899px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 1225px;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 10px;
    grid-column-gap: 80px;
    grid-row-gap: 65px;
  }
}

.food-cat__border-box {
  border-top: 1px solid $special_grey-2;
  border-bottom: 1px solid $special_grey-2;
  min-height: 207px;

  @media (min-width: $tablet-width) {
    border: none;
    min-height: 511px;
    width: 324px;
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 10px;
    height: 100px;
    margin-left: 0;
  }
}

.food-cat__wrapper {
  max-width: 540px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 430px;
  }
}

.food-cat__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-right: 20px;
  margin-left: 20px;
  max-width: 500px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 324px;
    min-height: 430px;
    background-color: $gray-basic;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 81px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 240px;
    height: 435px;
  }
}

.food-cat__table {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 142px;
  margin-top: -39px;

  @media (min-width: $tablet-width) {
    width: 252px;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
    margin-top: 12px;
  }
}

.food-cat__img-box {
  width: 140px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
    position: absolute;
    bottom: 72%;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
    position: absolute;
    bottom: 72%;
  }
}

.food-cat__img {
  margin-top: 40px;
  grid-column: 1/2;
  grid-row: 1/3;
}

.food-cat__link {
  @include font-set (normal, normal, 16px, 20px);
  text-transform: uppercase;
  color: $special_dark-grey-1;
  display: flex;
  align-items: flex-start;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 20px, 24px);
    text-align: center;
    width: 150px;
    margin-top: 160px;

    & br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    @include font-set (normal, normal, 20px, 22px);
    margin-top: 165px;
  }
}

.food-cat__string {
  font-family: "Arial", sans-serif;
  color: $special_dark-grey;
  display: flex;
  justify-content: space-between;
  margin-top: -1px;
  margin-left: -3px;
  margin-right: 3px;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 16px, 16px);
    border-bottom: 1px solid $special_grey-2;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 1px solid $special_grey-2;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.food-cat__toggle {
  @include font-set (normal, normal, 16px, 20px);
  min-width: 280px;
  grid-column: 1/3;
  grid-row: 3/4;
  margin-top: 19px;

  @media (min-width: $tablet-width) {
    min-width: 248px;
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    min-width: 168px;
    margin-top: 40px;
  }
}

.food-cat__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 178px;
  position: relative;
  border-bottom: 1px solid $special_grey-2;

  @media (min-width: $tablet-width) {
    width: 320px;
    min-height: 429px;
    margin-top: 80px;
    border: 2px solid $gray-basic;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 430px;
    margin-top: 0;
    border: 2px solid $gray-basic;
  }
}

.food-cat__more {
  @include font-set (normal, normal, 16px, 20px);
  color: $more-caption;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 78px;

  & br {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    height: 30px;
    border: 1px solid $more-plus;
    transform: rotate(90deg);
    left: 49%;
    top: 10%;
  }

  &::after {
    content: "";
    position: absolute;
    height: 30px;
    border: 1px solid $more-plus;
    transform: rotate(-180deg);
    left: 49%;
    top: 10%;
  }

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 20px, 22px);
    padding-top: 160px;
    margin-left: 0;
    text-align: center;

    & br {
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      height: 60px;
      border: 1px solid $more-plus;
      transform: rotate(90deg);
      left: 50%;
      top: 12%;
    }

    &::after {
      content: "";
      position: absolute;
      height: 60px;
      border: 1px solid $more-plus;
      transform: rotate(-180deg);
      left: 50%;
      top: 11.5%;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 162px;
    margin-left: 0;
    text-align: center;

    & br {
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      height: 60px;
      border: 1px solid $more-plus;
      transform: rotate(90deg);
      left: 50%;
      top: 12%;
    }

    &::after {
      content: "";
      position: absolute;
      height: 60px;
      border: 1px solid $more-plus;
      transform: rotate(-180deg);
      left: 50%;
      top: 12%;
    }
  }
}

.food-cat__more-caption {
  font-family: "Arial", sans-serif;
  color: $special_dark-grey;
  margin-top: -8px;
  margin-left: -5px;

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-top: 6px;
    text-align: center;
    margin-left: 0;

    & br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 5px;
    text-align: center;
    margin-left: 0;

    & br {
      display: block;
    }
  }
}

.food-cat__more-link {
  @include font-set (normal, normal, 16px, 0);
  text-transform: uppercase;
  color: $special_dark-grey;
  background-color: $gray-basic;
  min-width: 279px;
  margin-top: 8px;
  margin-bottom: 23px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

  &:hover {
    background-color: $special_grey-2;
  }

  &:focus {
    opacity: 0.3;
    background-color: $special_grey-2;
    color: $special_dark-grey;
  }

  @media (min-width: $tablet-width) {
    margin-top: 71px;
    min-width: 249px;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 169px;
    margin-top: 70px;
    padding-top: 21px;
    margin-left: 0;
  }
}
