.footer-page {
  text-align: center;
  background-color: $gray-basic;
}

.footer-page__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 45px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-top: 0;
  }
}

.footer-page__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
