.footer-page {
  text-align: center;
  background-color: $gray-basic;
}

.footer-page__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 55px;
  padding-bottom: 10px;
  max-width: 540px;

  @media (min-width: $tablet-width) {
    max-width: 900px;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 40px;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 45px;
  }
}

.footer-page__site-name {
  margin-top: -15px;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.3) translateX(-2px);

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin-left: 47px;
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 127px;
    margin-top: 0;
  }
}

.footer-page__social {
  margin-right: auto;
  margin-left: auto;
}

.footer-page__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;
  margin-top: 12px;
  margin-right: 25px;
  margin-left: 19px;

  @media (min-width: $tablet-width) {
    min-width: 163px;
    margin-right: 30px;
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-right: 110px;
    margin-bottom: 0;
  }

  &:hover {
    color: $basic_green;
  }

  &:focus {
    color: $special_dark-grey-opacity;
  }

  & svg {
    fill: $special_dark-grey;
    transform: translateY(0%);
  }

  &:hover svg {
    fill: $basic_green;
  }

  &:focus svg {
    fill: $bg-green;
    opacity: 0.3;
  }
}
