.footer-page {
  text-align: center;
  background-color: $gray-basic;
}

.footer-page__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 10px;
  max-width: 500px;

  @media (min-width: $tablet-width) {
    max-width: 899px;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1800px;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 60px;
  }
}

.footer-page__site-name {
  margin-top: -15px;


  @media (min-width: $tablet-width) {
    margin-left: 15px;
    margin-top: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -60px;
    margin-top: 30px;
  }
}

.footer-page__social {
  @media (min-width: $tablet-width) {
    margin-left: -130px;
  }
}

.footer-page__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;
  margin-top: 15px;
  margin-left: -5px;

  @media (min-width: $tablet-width) {
    min-width: 163px;
    margin-right: -12px;
    margin-top: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
    margin-right: -60px;
    margin-bottom: 0;
  }

  & svg {
    fill: $special_dark-grey;
    transform: translateY(0%);
  }

  &:hover svg {
    fill: $basic_green;
  }

  &:focus svg {
    fill: $bg-green;
    opacity: 0.3;
  }
}
