.footer-page {
  text-align: center;
  background-color: $gray-basic;
}

.footer-page__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 10px;
  max-width: 500px;

  @media (min-width: $tablet-width) {
    max-width: 899px;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1800px;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 40px;
  }
}

.footer-page__site-name {
  margin-top: -18px;

  @media (min-width: $tablet-width) {
    margin-left: 15px;
    margin-top: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -30px;
    margin-top: 0;
  }
}

.footer-page__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    margin-top: 35px;
    min-width: 163px;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -5px;
    margin-right: 18px;
    margin-bottom: 0;
  }

  & svg {
    fill: $special_dark-grey;
    transform: translateY(0%);
  }

  &:hover svg {
    fill: $basic_green;
  }

  &:focus svg {
    fill: $bg-green;
    opacity: 0.3;
  }
}

.footer-page__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.footer-page__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;

  @media (min-width: $tablet-width) {
    width: 100px;
    margin-right: 25px;
    margin-top: 45px;
  }
}
