.footer-page {
  text-align: center;
  background-color: $gray-basic;
}

.footer-page__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 55px;
  max-width: 500px;

  @media (min-width: $tablet-width) {
    max-width: 899px;
    flex-direction: row;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1800px;
    flex-direction: row;
    padding-top: 0;
  }
}

.footer-page__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 163px;
    justify-content: space-between;
  }
}
