.form__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    max-width: 899px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
  }
}

.form__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 26px;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    padding-bottom: 60px;
    margin: 0 auto;
    max-width: 1440px;
  }
}

.form__toggle {
  @include font-set (normal, normal, 16px, 20px);
  margin-top: 1px;
  width: 280px;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 20px, 0);
    width: 282px;
    min-height: 52px;
    margin-top: 5px;
  }

  @media (min-width: $desktop-width) {
    min-width: 568px;
    min-height: 52px;
    margin-top: 0;
    margin-left: -285px;
  }
}

.form__required-text {
  @include font-set (normal, mormal, 14px, 16px);
  font-family: "Arial", sans-serif;
  text-transform: none;
  padding-top: 7px;
  padding-bottom: 15px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 16px, 16px);
    margin-left: 60px;
    margin-right: 106px;
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-top: 34px;
    padding-bottom: 24px;
  }
}
