.gift {
  text-align: center;
  display: flex;
  justify-content: center;
}

.gift__wrapper {
  max-width: 500px;

  @media (min-width: $tablet-width) {
    max-width: 899px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1400px;
  }
}

.gift__inner {
  position: relative;
  min-height: 289px;
  background: url("../img/goods/giftcatmobile.jpg") no-repeat;
  margin-top: 40px;
  margin-bottom: 35px;
  margin-left: 20px;
  margin-right: 20px;
  width: 280px;

  @media (min-resolution: 2dppx) {
    background: url("../img/goods/giftcatmobile@2x.jpg") no-repeat center;
    background-size: contain;
  }

  @media (min-width: $tablet-width) {
    min-width: 700px;
    margin-left: 30px;
    margin-right: 30px;
    background: url("../img/tabletgift.png") no-repeat;
    margin-top: 70px;
    margin-bottom: -15px;

    @media (min-resolution: 2dppx) {
      background: url("../img/goods/tabletgift@2x.png") no-repeat;
      background-size: contain;
    }
  }

  @media (min-width: $desktop-width) {
    background: url("../img/goods/giftdesktop.png") no-repeat;
    min-width: 245px;
    max-width: 249px;
    height: 289px;
    top: 9%;
    left: -25%;

    @media (min-resolution: 2dppx) {
      background: url("../img/goods/giftdesktop@2x.png") no-repeat;
      background-size: contain;
    }
  }
}

.gift__text {
  @include font-set (normal, normal, 16px, 20px);
  font-family: "Arial", sans-serif;
  text-transform: none;
  color: $basic-white;
  text-align: center;
  padding-top: 186px;
  padding-left: 50px;
  padding-right: 61px;
  width: 170px;

  @media (min-width: $tablet-width) {
    text-align: left;
    min-width: 161px;
    padding-top: 73px;
    padding-left: 420px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding-top: 185px;
    padding-left: 35px;
    padding-right: 61px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 59px;
    left: 50%;
    transform: translate(-50%);
    width: 78px;
    height: 80px;
    background: url("../img/icongift.svg") no-repeat center;

    @media (min-width: $tablet-width) {
      top: 20%;
      left: 17%;
      transform: translate(-50%);
    }

    @media (min-width: $desktop-width) {
      top: 20%;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
