.main-page {
  position: relative;
}

.main-page__inner {
  max-width: 545px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 805px;
    padding-left: 110px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 90px;
    max-width: 640px;
  }
}

.main-page__title {
  @include font-set (normal, normal, 36px, 36px);
  text-transform: none;
  padding-left: 20px;
  margin-top: 28px;
  margin-bottom: 42px;
  text-align: left;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 60px, 60px);
    margin-left: -100px;
    margin-top: 58px;
    margin-bottom: 83px;
  }

  @media (min-width: $desktop-width) {
    @include font-set (normal, normal, 60px, 60px);
    margin-left: -355px;
    margin-top: 70px;
    margin-bottom: 163px;
  }
}

.main-page__box-gift-goods {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 43px;
  }
}
