.main-nav {
  position: relative;
}

.main-nav__list {
  @media (min-width: $tablet-width) {
    max-width: 500px;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 990px;
    margin-right: 0;
  }
}
