.nutrition-program {
  @include font-set (normal, normal, 16px, 37px);
}

.nutrition-program__wrapper {
  max-width: 545px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 899px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
  }
}

.nutrition-program__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 24px;

  @media (min-width: $tablet-width) {
    margin-top: -181px;
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    flex-direction: row;
    margin-top: -270px;
    justify-content: space-between;
    align-items: center;
    min-width: 570px;
    min-height: 374px;
    margin-right: 110px;
    margin-left: 110px;
  }
}

.nutrition-program__item {
  position: relative;
  background-color: $gray-basic;
  min-width: 280px;
  text-align: left;
  margin-top: 22px;
  margin-bottom: 10px;
  padding-bottom: 10px;

  &:last-child {
    margin-top: 11px;
  }

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    min-width: 400px;
    padding-left: 50px;
    padding-bottom: 51px;
    margin-bottom: 30px;
    margin-top: 0;

    & br {
      display: block;
    }

    &:last-child {
      margin-top: 2px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    min-height: 374px;
    padding-bottom: 0;
    margin-right: -7px;
  }

  &:first-child::before {
    content: "";
    width: 50px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url("../img/catsit.svg");
    position: absolute;
    left: 22px;
    top: 9%;

    @media (min-width: $tablet-width) {
      background-image: url("../img/catsit.svg");
      background-repeat: no-repeat;
      background-size: 200px;
      width: 200px;
      height: 211px;
      left: 63%;
      top: 80px;
      background-position: 85% 50%;
    }

    @media (min-width: $desktop-width) {
      display: block;
      transform: scale(0.5);
      left: 2px;
      top: -12px;
    }
  }

  &:last-child::before {
    content: "";
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url("../img/catgo.svg");
    position: absolute;
    left: 12px;
    top: 9%;

    @media (min-width: $tablet-width) {
      background-repeat: no-repeat;
      background-size: 270px;
      width: 300px;
      height: 211px;
      left: 54%;
      top: 85px;
      background-position: 85% 50%;
    }

    @media (min-width: $desktop-width) {
      display: block;
      transform: scale(0.5);
      left: -58px;
      top: -12px;
    }
  }
}

.nutrition-program__title {
  @include font-set(normal, normal, 24px, 37px);
  text-align: left;
  margin-left: 92px;
  margin-top: 30px;
  padding-bottom: 0;
  margin-bottom: 29px;


  @media (min-width: $tablet-width) {
    @include font-set(normal, normal, 36px, 36px);
    max-width: 206px;
    margin-left: 2px;
    margin-top: 78px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 163px;
  }
}

.nutrition-program__description {
  @include font-set (normal,normal, 14px, 18px);
  min-width: 200px;
  min-height: 90px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Arial", sans-serif;
  text-transform: none;
  margin-top: 28px;
  padding-bottom: 17px;
  position: relative;
  border-bottom: 1px solid $border-bottom-program;

  @media (min-width: $tablet-width) {
    @include font-set(normal, normal, 16px, 24px);
    min-width: 380px;
    margin-left: 0;
    padding-right: 37%;
    margin-top: -3px;
    margin-bottom: 30px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    @include font-set(normal, normal, 16px, 24px);
    min-width: 470px;
    margin-top: 75px;
    padding-bottom: 0;
    padding-right: 10px;
    margin-bottom: 5px;

    & br {
      display: none;
    }
  }
}

.nutrition-program__description--indentation {
  @media (min-width: $tablet-width) {
    padding-right: 43%;
  }

  @media (min-width: $desktop-width) {
    padding-right: 10px;
  }
}

.nutrition-program__link {
  @include font-set (normal, normal, 16px, 16px);
  color: $basic-black;
  text-decoration: none;
  margin-left: 20px;

  & svg {
    fill: $basic-black;
    stroke: $basic-black;
    margin-left: 15px;

    @media (min-width: $tablet-width) {
      margin-left: 25px;
    }
  }

  &:active svg {
    color: $main-menu-hover;
    fill: $main-menu-hover;
  }

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 20px, 30px);
    margin-left: 2px;
  }
}
