.nutrition-program {
  @include font-set (normal, normal, 16px, 37px);
}

.nutrition-program__wrapper {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-right: 110px;
  }
}

.nutrition-program__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  outline: 1px solid red;

  @media (min-width: $tablet-width) {
    margin-top: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    flex-direction: row;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    min-width: 570px;

  }
}

.nutrition-program__item {
  position: relative;
  background-color: $gray-basic;
  min-width: 280px;
  text-align: left;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    min-width: 400px;
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 500px;
  }

  &:first-child::before {
    content: "";
    width: 50px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url("../img/catsit.svg");
    position: absolute;
    left: 22px;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      transform: scale(2);
      left: 95px;
      top: 40px;
    }
  }

  &:last-child::before {
    content: "";
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url("../img/catgo.svg");
    position: absolute;
    left: 12px;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      transform: scale(2);
      left: 80px;
      top: 50px;
    }
  }
}

.nutrition-program__title {
  text-align: left;
  margin-left: 95px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    max-width: 206px;
    margin-left: 20px;
    margin-top: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 30%;
    margin-top: 10%;
  }
}

.nutrition-program__description {
  position: relative;
  @include font-set (normal,normal, 14px, 18px);
  min-width: 227px;
  min-height: 90px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Arial", sans-serif;
  text-transform: none;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 700px;
    margin-right: 330px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    min-width: 457px;

  }

  &::after {
    content: "";
    position: absolute;
    width: 240px;
    bottom: -3%;
    left: 0%;
    border-bottom: 1px solid $border-bottom-program;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }
}

.nutrition-program__link {
  @include font-set (normal, normal, 16px, 16px);
  color: $basic-black;
  text-decoration: none;
  margin-left: 20px;

  & svg {
    fill: $basic-black;
    stroke: $basic-black;
  }

  &:active svg {
    color: $main-menu-hover;
    fill: $main-menu-hover;
  }
}

.nutrition-program__item--losing-weight {
  @media (min-width: $tablet-width) {
    background-image: url("../img/catsit.svg");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 85% 50%;
  }

  @media (min-width: $desktop-width) {
    background-image: none;
  }
}

.nutrition-program__item--weight-gain {
  @media (min-width: $tablet-width) {
    background-image: url("../img/catgo.svg");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: 90% 50%;
  }

  @media (min-width: $desktop-width) {
    background-image: none;
  }
}
