.page-header {
  text-align: center;
}

.page-header__wrapper {
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0 auto;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 899px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    display: flex;
    padding-right: 40px;
    max-width: 1390px;
  }
}

.page-header__inner {
  margin: 0 auto;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;

  @media (min-width: $tablet-width) {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 51px;
    margin-top: 30px;
    max-width: 899px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 50px;
    height: 59px;
    margin-left: 110px;
  }
}

.page-header__logo {
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.page-header__site-name {
  margin-right: 0;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 95px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 20px;
    margin-right: 0;
  }
}

.page-header__toggle {
  position: relative;
  width: 24px;
  border: none;
  margin-left: 15px;
  margin-right: 20px;
}

.page-header__toggle--opened {
  top: -2px;
  right: 0;
  border-bottom: 1.5px solid $basic-black;
  display: none;

  &::before {
    content: "";
    left: 0;
    top: -5px;
    width: 24px;
    position: absolute;
    border-bottom: 1.5px solid $basic-black;
  }

  &::after {
    content: "";
    top: 8px;
    left: 0;
    width: 24px;
    position: absolute;
    border-bottom: 1.5px solid $basic-black;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__toggle--closed {
  &::before {
    content: "";
    left: 0;
    top: -2px;
    width: 24px;
    position: absolute;
    transform: rotate(45deg);
    border-bottom: 1.5px solid $basic-black;
  }

  &::after {
    content: "";
    top: -2px;
    left: 0;
    width: 24px;
    position: absolute;
    transform: rotate(-45deg);
    border-bottom: 1.5px solid $basic-black;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
