.page-header {
  text-align: center;
  border-bottom: 1px solid $special_grey-4;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-header__wrapper {
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    max-width: 899px;
    margin-top: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 50px;
    display: flex;
    max-width: 1370px;
  }
}

.page-header__inner {
  margin: 0 auto;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;

  @media (min-width: $tablet-width) {
    border: none;
    display: flex;
    align-items: center;
    min-height: 51px;
    margin-top: -5px;
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    min-height: 59px;
    margin-left: 75px;
    margin-top: 0;
  }
}

.page-header__logo {
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.page-header__site-name {
  margin-right: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__toggle {
  position: relative;
  width: 24px;
  border: none;
  margin-right: 25px;
  margin-left: 10px;
  display: none;
  background-color: $basic_white;
}

.page-header__toggle--opened {
  top: -2px;
  right: 0;
  border-bottom: 1.5px solid $basic-black;
  display: none;

  &::before {
    content: "";
    left: 0;
    top: -5px;
    width: 24px;
    position: absolute;
    border-bottom: 1.5px solid $basic-black;
  }

  &::after {
    content: "";
    top: 8px;
    left: 0;
    width: 24px;
    position: absolute;
    border-bottom: 1.5px solid $basic-black;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__toggle--closed {
  display: block;

  &::before {
    content: "";
    left: 0;
    top: -2px;
    width: 24px;
    position: absolute;
    transform: rotate(45deg);
    border-bottom: 1.5px solid $basic-black;
  }

  &::after {
    content: "";
    top: -2px;
    left: 0;
    width: 24px;
    position: absolute;
    transform: rotate(-45deg);
    border-bottom: 1.5px solid $basic-black;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
