.page {
  height: 100%;
}
<<<<<<< HEAD

.page__body {
  @include font-set (normal, normal, 14px, 18px);
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
}
=======
>>>>>>> module3-task1
