.page-header {
  text-align: center;
}

.page-header__wrapper {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
    margin-right: 110px;
  }
}

.page-header__inner {
  height: 66px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $special_grey-4;

  @media (min-width: $tablet-width) {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 174px;
    height: 51px;
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 50px;
    width: 202px;
    height: 59px;
  }
}

.page-header__logo {
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.page-header__site-name {
  margin-right: 30px;

  @media (min-width: $tablet-width) {
    margin-left: 12px;
    margin-right: 95px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 20px;
    margin-right: 540px;
  }
}

.page-header__toggle {
  position: relative;
  width: 24px;
  border: none;
  top: 0;
  right: 25px;
  border-bottom: 1.5px solid $basic-black;

  &::before {
    content: "";
    left: 0;
    top: -5px;
    width: 24px;
    position: absolute;
    border-bottom: 1.5px solid $basic-black;
  }

  &::after {
    content: "";
    top: 8px;
    left: 0;
    width: 24px;
    position: absolute;
    border-bottom: 1.5px solid $basic-black;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
