.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-columns: min-content, 1fr, min-content;
  margin: 0 auto;
  overflow-x: hidden;
}

.page__body--bg-index {
  @media (min-width: $desktop-width) {
    &::after {
      content: "";
      position: absolute;
      background: linear-gradient(to left, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/indexbackgrounddesktop.jpg") no-repeat 0%;
      background-size: 1043px 696px;
      width: 100%;
      height: 699px;
      left: 50%;
      transform: translateX(0%);
      top: -5px;
      z-index: -1;
    }
  }
}
