.page-header {
  text-align: center;
  border-bottom: 1px solid $special_grey-4;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-header__wrapper {
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    max-width: 899px;
    margin-top: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 50px;
    display: flex;
    max-width: 1370px;
  }
}

.page-header__inner {
  margin: 0 auto;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;

  & .page-header__logo,
  .page-header__site-name {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
    display: flex;
    align-items: center;
    min-height: 51px;
    margin-top: -5px;
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    min-height: 59px;
    margin-left: 75px;
    margin-right: auto;
    margin-top: 0;
    width: 300px;
  }
}

.page-header__logo {
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.page-header__site-name {
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__toggle {
  position: relative;
  left: 1px;
  width: 24px;
  height: 18px;
  border: none;
  margin-left: 10px;
  margin-right: 25px;
  background-color: $basic_white;
  outline: none;
}

.page-header__toggle--opened {
  top: -10px;
  right: 0;
  border-bottom: 2px solid $basic-black;
  display: block;

  &::before {
    content: "";
    left: 0;
    top: 8px;
    width: 24px;
    position: absolute;
    border-bottom: 2px solid $basic-black;
    transition-duration: 0.9s, 0.3s;
    transition-delay: 0.9s, 0s;
    transition-property: top, transform;
  }

  &::after {
    content: "";
    top: 25px;
    left: 0;
    width: 24px;
    position: absolute;
    border-bottom: 2px solid $basic-black;
    transition-duration: 0.9s, 0.3s;
    transition-delay: 0.9s, 0s;
    transition-property: bottom, transform;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__toggle--closed {
  position: relative;
  top: -1px;
  display: block;
  border: none;

  &::before {
    content: "";
    left: 0;
    top: 8px;
    width: 24px;
    position: absolute;
    border-bottom: 2px solid $basic-black;
    transform: rotate(45deg);
    transition-delay: 0s, 0.3s;
  }

  &::after {
    content: "";
    top: 8px;
    left: 0;
    width: 24px;
    position: absolute;
    border-bottom: 2px solid $basic-black;
    transform: rotate(-45deg);
    transition-delay: 0s, 0.3s;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__toggle--hidden {
  display: none;
}
