.product-table {
  display: flex;
  flex-direction: column;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 550px;
  }
}

.product-table__name {
  @include font-set (normal, normal, 16px, 16px);
  color: $special_dark-grey-1;
  text-transform: uppercase;
  margin-bottom: 13px;
  text-align: left;
}

.product-table__string {
  @include font-set (normal, normal, 14px, 14px);
  font-family: "Arial", sans-serif;
  color: $special_dark-grey;
  min-width: 280px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  text-align: left;
}
