.program-selection {
  @include font-set (normal, normal, 16px, 18px);
  border-top: 1px solid $border-bottom-program;
  border-bottom: 1px solid $border-bottom-program;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 20px, 30px);
    border: none;
  }
}

.program-selection__wrapper {
  margin: 0 auto;
  position: relative;
  text-align: left;
  max-width: 500px;

  @media (min-width: $tablet-width) {
    border: none;
    margin-top: -33px;
    max-width: 899px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
  }
}

.program-selection__group {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 71px;
    margin-right: 30px;
    padding-bottom: 5px;
    border: 1px solid $border-bottom-program;
    width: 628px;
  }

  @media (min-width: $desktop-width) {
    border: 1px solid $border-bottom-program;
    margin: 0;
    width: 568px;
    margin-top: 30px;
  }
}

.program-selection__toggle {
  position: relative;
  display: none;

  &:checked + .program-selection__name::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    left: -37px;
    top: 2px;
    border-radius: 100%;
    background: $basic_green;
    border: 1px solid $special_grey;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
      left: -50px;
      top: 5px;
    }
  }

  &:hover + .program-selection__name::before {
    border: 1px solid $hover-checkbox;
  }

  &:disabled + .program-selection__name::before {
    border: 1px solid $hover-checkbox;
    opacity: 0.3;
  }

  &:disabled + .program-selection__name {
    opacity: 0.3;
    color: $special_dark-grey-1;
    cursor: default;
  }
}

.program-selection__name {
  margin-bottom: 24px;
  position: relative;
  margin-left: 45px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-left: 87px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: -45px;
    top: -5px;
    border-radius: 100%;
    border: 1px solid $special_grey;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
      left: -60px;
    }
  }
}

.program-selection__title {
  text-transform: none;
}

.program-selection__description {
  @include font-set (normal, normal, 14px, 18px);
}
