.program-choice {
  text-align: left;
}

.program-choice__wrapper {
  margin: 0 auto;
  max-width: 500px;


  @media (min-width: $tablet-width) {
    max-width: 899px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1800px;
  }
}

.program-choice__inner {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-right: 110px;
  }
}

.program-choice__title {
  @include font-set (normal, normal, 36px, 36px);
  text-transform: none;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 60px, 60px);
    padding-top: 8px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 29px;
  }
}

.program-choice__description {
  min-width: 280px;
  margin-bottom: 30px;

  @include font-set (normal, normal, 14px, 18px);

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 20px, 30px);
    margin-left: 40px;
    margin-top: 58px;
  }

  @media (min-width: $desktop-width) {
    @include font-set (normal, normal, 20px, 30px);
    margin-left: 0;
    margin-top: 56px;
  }
}
