.program-choice {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 71px;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-right: 110px;
  }
}



.program-choice__title {
  @include font-set (normal, normal, 36px, 36px);
  text-transform: none;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.program-choice__description {
  min-width: 226px;
  @include font-set (normal, normal, 14px, 18px);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
