.program-selection {
  @include font-set (normal, normal, 16px, 18px);
}

.program-selection__group {
  border: none;
  border-top: 1px solid $border-bottom-program;
  border-bottom: 1px solid $border-bottom-program;
}
