.site-list {
  @include font-set (normal, 700, 20px, 20px);
  margin: 0;
  padding: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    @include font-set (normal, normal, 18px, 24px);
    font-weight: normal;
    display: flex;
    flex-direction: row;

    &::before {
      content: "";
      @media (min-width: $desktop-width) {
        background: linear-gradient(to top,$bg_green 30%, $bg_green 30%),
        url("../img/indexbgdesktop.jpg") no-repeat 50% 0%;
        height: 694px;
        width: 720px;
        position: absolute;
        left: -29%;
        top: -24%;
        z-index: -1;
      }
    }
  }
}

.site-list__item {
  list-style: none;
  min-height: 30px;
  padding-top: 22px;
  padding-bottom: 24px;
  border-bottom: 1px solid $special_grey-4;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
    padding-top: 42px;
    margin-left: 35px;
    outline: 1px solid black;
    top: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
  }
}

.site-list__item a {
  text-decoration: none;
  color: $basic-black;

  @media (min-width: $desktop-width) {
    color: $basic_white;
  }

  &:hover {
    color: $main-menu-hover;

    @media (min-width: $desktop-width) {
      color: $basic_white;
      opacity: 0.6;
    }
  }

  &:focus {
    color: $main-menu-down;

    @media (min-width: $desktop-width) {
      color: $basic_white;
      opacity: 0.3;
    }
  }
}

.site-list__item--active {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $basic_green;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $basic_white;
    padding-bottom: 10px;
  }
}
