.social {
  text-align: center;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid $border-bottom-program;
  border-bottom: 1px solid $border-bottom-program;
  min-width: 280px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 33px;
  padding-top: 21px;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    border-top: none;
    border-bottom: none;
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-top: 0;
    margin-top: 0;
    margin-left: 5px;
    padding-bottom: 0;
  }
}

.social__item {
  margin-right: 35px;

  &:nth-child(1) {
    margin-left: 25px;
    margin-top: 3px;
  }

  @media (min-width: $tablet-width) {
    margin-right: 30px;

    &:nth-child(1) {
      margin-left: 45px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 30px;

    &:nth-child(1) {
      margin-left: -128px;
    }
  }
}

.social__item-svg {
  fill: $special_grey-3;
  width: 23px;
  height: 18px;

  @media (min-width: $tablet-width) {
    transform: scale(1.3);
  }

  &:hover {
    fill: $basic_green;
  }

  &:active {
    fill: $basic_green;
    opacity: 0.3;
  }
}

.social__item-svg--stroke {
  stroke: $special_grey-3;
  fill: $gray-basic;
  width: 16px;
  height: 19px;

  @media (min-width: $tablet-width) {
    transform: scale(1.4);
  }

  &:hover {
    stroke: $basic_green;
  }

  &:active {
    stroke: $basic_green;
    opacity: 0.3;
  }
}
