.social {
  text-align: center;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid $border-bottom-program;
  border-bottom: 1px solid $border-bottom-program;
  min-width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  padding-top: 20px;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    border-top: none;
    border-bottom: none;
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-top: 0;
    margin-top: 0;
    margin-left: 5px;
    padding-bottom: 0;
  }
}

.social__item {
  &:nth-child(1) {
    margin-left: -12px;
    margin-right: 34px;
  }

  &:nth-child(2) {
    margin-right: 37px;
  }

  @media (min-width: $tablet-width) {
    &:nth-child(1) {
      margin-left: 9px;
    }

    &:nth-child(2) {
      margin-right: 32px;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(1) {
      margin-left: -165px;
    }

    &:nth-child(2) {
      margin-right: 35px;
    }
  }

  & svg {
    fill: $special_grey-3;

    @media (min-width: $tablet-width) {
      transform: scale(1.3);
    }
  }

  &:hover svg {
    fill: $basic_green;
  }

  &:focus svg {
    fill: $main-menu-down;
  }
}
