@import "font.scss";
@import "variables.scss";
@import "visually-hidden.scss";
@import "mixin.scss";
<<<<<<< HEAD
<<<<<<< HEAD
=======
@import "global.scss";
>>>>>>> module3-task1
=======
@import "global.scss";
>>>>>>> module3-task2
@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/site-list.scss";
@import "blocks/main-nav.scss";
@import "blocks/caption.scss";
@import "blocks/nutrition-program.scss";
@import "blocks/advantages-product.scss";
@import "blocks/example.scss";
@import "blocks/button.scss";
@import "blocks/about-company.scss";
@import "blocks/footer-page.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
<<<<<<< HEAD
<<<<<<< HEAD
@import "blocks/program-selection.scss";
=======
>>>>>>> module3-task1
=======
@import "blocks/program-choice.scss";
@import "blocks/data-cat.scss";
@import "blocks/data-owner.scss";
@import "blocks/program-selection.scss";
@import "blocks/comment.scss";
@import "blocks/additionally.scss";
@import "blocks/required-text.scss";
>>>>>>> module3-task2
