@import "font.scss";
@import "variables.scss";
@import "visually-hidden.scss";
@import "mixin.scss";
@import "global.scss";
@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/site-list.scss";
@import "blocks/main-nav.scss";
@import "blocks/main-page.scss";
@import "blocks/caption.scss";
@import "blocks/nutrition-program.scss";
@import "blocks/advantages-product.scss";
@import "blocks/example.scss";
@import "blocks/button.scss";
@import "blocks/button-example.scss";
@import "blocks/about-company.scss";
@import "blocks/footer-page.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/program-choice.scss";
@import "blocks/data-cat.scss";
@import "blocks/data-owner.scss";
@import "blocks/program-selection.scss";
@import "blocks/comment.scss";
@import "blocks/additionally.scss";
@import "blocks/required-text.scss";
@import "blocks/food-cat.scss";
@import "blocks/add-product";
@import "blocks/product-table.scss";
@import "blocks/gift.scss";
