@import "font.scss";
@import "variables.scss";
@import "visually-hidden.scss";
@import "mixin.scss";
@import "global.scss";
@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/site-list.scss";
@import "blocks/main-nav.scss";
@import "blocks/caption.scss";
@import "blocks/nutrition-program.scss";
@import "blocks/advantages-product.scss";
@import "blocks/example.scss";
@import "blocks/button-example.scss";
@import "blocks/about-company.scss";
@import "blocks/footer-page.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
