/*text-color*/

$basic-black: #000000;
$basic_white: #ffffff;
$gray-basic: #f2f2f2;
$special_grey-2: #ebebeb;
$special_grey-4: #e6e6e6;
$special_grey: #cdcdcd;
$special_grey-3: #666666;
$special_dark-grey: #444444;
$special_dark-grey-opacity: rgba(68, 68, 68, 0.3);
$special_dark-grey-1: #222222;
$status_error: #ff8282;
$main-menu-hover: rgba(0, 0, 0, 0.6);
$main-menu-down: rgba(0, 0, 0, 0.3);
$bg-green: rgba(104, 183, 56, 0.85);
$green-button-pressed: rgba(250, 250, 250, 0.3);
$bg-example: #eaeaea;
$border-bottom-program: #d9d9d9;
$basic_green: #68b738;
$basic_green-2: #5eaa2f;
<<<<<<< HEAD
$input-border: #e7e7e7;
=======
>>>>>>> 7d4b4120df5cc8ff89277c194311073e7f8361e4
$more-caption: #111111;
