/*text-color*/

$basic-black: #000000;
$basic_white: #ffffff;
$gray-basic: #f2f2f2;
$special_grey-2: #ebebeb;
$special_grey-4: #e6e6e6;
$special_grey: #cdcdcd;
$special_grey-3: #666666;
$special_dark-grey: #444444;
$special_dark-grey-opacity: rgba(68, 68, 68, 0.3);
$special_dark-grey-1: #222222;
$status_error: #ff8282;
$main-menu-hover: rgba(0, 0, 0, 0.6);
$main-menu-down: rgba(0, 0, 0, 0.3);
$bg-green: rgba(104, 183, 56, 0.85);
$green-button-pressed: rgba(250, 250, 250, 0.3);
$bg-example: #eaeaea;
$border-bottom-program: #d9d9d9;
$basic_green: #68b738;
$basic_green-2: #5eaa2f;
$bg-green-caption: #274415;
$input-border: #e7e7e7;
$more-caption: #111111;
$bg-caption: rgba(255, 255, 255, 1);
$bg-caption-2: rgba(39, 68, 21, 1);
$more-plus: #d3d3d3;
$invalid: #ff8282;
$hover-checkbox: #bababa;
$bg-example-tablet: rgba(234, 234, 234, 1);
$bg-example-desktop: rgba(242, 242, 242, 1);



/*Viewports*/

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
